<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <style>
        header {
            background-color: #212A3E;
            width: 20%;
            border-radius: 10px;
            color: #F6ECA9;
            text-align: center;
            padding: 10px;
            margin: 3% auto 2%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-right {
            position: absolute;
            top: 10px; /* Adjust the top position as needed */
            left: 10px; /* Adjust the left position as needed */
            height: auto;
            width: 150px; /* Adjust the width as needed */
            z-index: 999; /* Ensure the logo appears above other elements */
        }

        body {
            background-color: #F1F6F9;
            color: #F6ECA9;
            font-family: Arial, sans-serif;
        }

        .containerLeft {
            float: left;
            width: 45%;
            margin-left: 2%;
            background-color: #212A3E;
            padding: 20px;
            border-radius: 8px;
        }

        .containerRight {
            float: right;
            width: 45%;
            margin-right: 2%;
            margin-top: 2%;
            background-color: #212A3E;
            padding: 20px;
            border-radius: 8px;
        }

        .highlight {
            color: #F6ECA9;
        }

        .card {
            background-color: #394867;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        .payment-window {
            background-color: #394867;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        



        .btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn:hover {
            background-color: #45a049;
        }

        label {
            color: #F6ECA9;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"] {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #333;
            width: calc(100% - 18px);
            margin-bottom: 10px;
        }

        .auth-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .auth-buttons button {
            margin-left: 5px;
        }

    </style>
</head>

<body>
    <header>
        <h1>Welcome!</h1>
        <div class="auth-buttons">
            <button class="btn" id="loginBtn">Login</button>
            <button class="btn" id="registerBtn">Register</button>
        </div>
    </header>
    
    <div class="containerLeft">
        <div class="main-container">
            <h1 class="highlight">Class Management System</h1>
            <% for (let i=0; i < allClasses.length; i++) { %>
                <div class="card">
                    <h2>
                        <%= allClasses[i].className %>
                    </h2>
                    <p>
                        <%= allClasses[i].classDescription %>
                    </p>
                    <button type="button" class="btn" id="attendBtn<%= i %>"
                        data-class-id="<%= allClasses[i].classId %>">Attend Class</button>

                </div>
                <% } %>
        </div>
    </div>
    <div class="containerRight">
        <div class="main-container">
            <h1 class="highlight">Payment Information</h1>
            <div class="card payment-window">
                <label for="amount">Payment Missed:</label>
                <input type="text" id="amount" name="amount" value="<%= currentBankDetails[1] %>" readonly>
                <br>
                <label for="amount">Payment Due:</label>
                <input type="text" id="amount" name="amount" value="$<%= currentBankDetails[0] %>" readonly>
                <br>
                <button id="redirectButton" class="btn">Pay Now</button>
            </div>
        </div>
    </div>
    <div class="containerRight">
        <img src="https://cdn.discordapp.com/attachments/1214014972955463750/1227401363902828616/scuffed_background.png?ex=66284599&is=6615d099&hm=d9368342a131b03ee54642b35759451ec129f2ec61901799d10cc21d09ea0a09&"
            alt="Your Logo" class="logo-right">
        <div class="main-container">
            <h1 class="highlight">Message Board</h1>
            <div class="card payment-window">
                <label for="amount">All Messages</label>
                <% for (let i=0; i < allMessages.length; i++) { %>
                    <input type="text" id="amount" name="amount" value="<%= allMessages[i] %>" readonly>
                    <% } %>
                        <br>
            </div>
        </div>
    </div>

    <script>
        // Function to send POST request with classId
        async function sendClassId(classId) {
            try {
                const response = await fetch('/attendClass', { // Replace '/your-endpoint' with your actual endpoint
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ classId: classId }),
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                console.log(classId, data);
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

        // Wait for the DOM to be fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            // Select all buttons and add an event listener to each
            Array.from(document.querySelectorAll('.btn')).forEach(button => {
                button.addEventListener('click', function () {
                    const classId = this.getAttribute('data-class-id'); // Get classId from the button
                    sendClassId(classId); // Send classId with the POST request
                    console.log(classId);
                });
            });

            // Redirect to payment page
            document.getElementById("redirectButton").addEventListener("click", function () {
                window.location.href = "/processPayment";
            });

            document.getElementById("loginBtn").addEventListener("click", function () {
                window.location.href = "/";
            });

            document.getElementById("registerBtn").addEventListener("click", function () {
                window.location.href = "/register";
            });
            
        });
    </script>
</body>

</html>