<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        header {
            background-color: #212A3E;
            width: 20%;
            border-radius: 10px;
            color: #F6ECA9;
            text-align: center;
            padding: 10px;
            margin: 3% auto 2%; /* Updated margin to center vertically and horizontally */
            display: flex; /* Use flexbox */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }

        body {
            background-color: #F1F6F9;
            color: #F6ECA9;
            font-family: Arial, sans-serif;
        }
        .containerLeft {
            float: left;
            width: 45%; /* Adjusted width */
            margin-left: 2%;
            background-color: #212A3E;
            padding: 20px;
            border-radius: 8px;
        }
        .containerRight {
            float: right;
            width: 45%; /* Adjusted width */
            margin-right: 2%;
            margin-top: 2%;
            background-color: #212A3E;
            padding: 20px;
            border-radius: 8px;
        }

        .highlight {
            color: #F6ECA9;
        }
        .card {
            background-color: #394867;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }
        .payment-window {
            background-color: #394867;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        .btn {
            background-color: #4CAF50; /* Green background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 15px 30px; /* Padding */
            text-align: center; /* Center text */
            text-decoration: none; /* Remove underline */
            display: inline-block; /* Display as inline-block */
            font-size: 16px; /* Font size */
            cursor: pointer; /* Cursor on hover */
            border-radius: 5px; /* Rounded corners */
        }

        /* Hover effect */
        .btn:hover {
            background-color: #45a049; /* Darker green */
        }
        /* Style for labels and inputs */
        label {
            color: #F6ECA9;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"] {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #333;
            width: calc(100% - 18px); /* Adjusted width */
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome!</h1>
    </header>
    <div class="containerLeft">
        <div class="main-container">
            <h1 class="highlight">Class Management System</h1>
            <% for (let i = 0; i < allClasses.length; i++) { %>
                <div class="card">
                    <h2><%= allClasses[i].className %></h2>
                    <p><%= allClasses[i].classDescription %></p>
                    <button type="button" class="btn" id="attendBtn<%= i %>" data-class-id="<%= allClasses[i].classId %>">Attend Class</button>
                </div>
            <% } %>
        </div>
    </div>
    <div class="containerRight">
        <div class="main-container">
            <h1 class="highlight">Payment Information</h1>
            <div class="card payment-window">
                <label for="amount">Payment Missed:</label>
                <input type="text" id="amount" name="amount" value="<%= currentBankDetails[1] %>" readonly> 
                <br>
                <label for="amount">Payment Due:</label>
                <input type="text" id="amount" name="amount" value="$<%= currentBankDetails[0] %>" readonly> 
                <br>
                <btn id="redirectButton" class="btn">Pay Now</btn>
            </div>
        </div>
    </div>
    <script>
        // Add event listeners to each "Attend Class" button
        var attendButtons = document.querySelectorAll('.btn[id^="attendBtn"]');
        attendButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                var classId = this.getAttribute('data-class-id');
                console.log(classId); // This will log the class ID to the console
                // send a post request to the server to attend the class
                fetch ('/attendClass', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ classId: classId })
                })
            });
        });

        // Redirect button event listener
        document.getElementById("redirectButton").addEventListener("click", function() {
            window.location.href = "/process-payment";
        });
    </script>
</body>
</html>
