<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <style>
         header {
            background-color: #212A3E;
            width: 20%;
            border-radius: 10px;
            color: #F6ECA9;
            text-align: center;
            padding: 10px;
            margin: 3% auto 2%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-right {
            position: absolute;
            top: 10px; /* Adjust the top position as needed */
            left: 10px; /* Adjust the left position as needed */
            height: auto;
            width: 150px; /* Adjust the width as needed */
            z-index: 999; /* Ensure the logo appears above other elements */
        }

        body {
            background-color: #F1F6F9;
            color: #F6ECA9;
            font-family: Arial, sans-serif;
        }

        .containerLeft {
            float: left;
            width: 45%;
            margin-left: 2%;
            background-color: #212A3E;
            padding: 20px;
            border-radius: 8px;
        }

        .containerRight {
            float: right;
            width: 45%;
            margin-right: 2%;
            margin-top: 2%;
            background-color: #212A3E;
            padding: 20px;
            border-radius: 8px;
        }

        .highlight {
            color: #F6ECA9;
        }

        .card {
            background-color: #394867;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        .payment-window {
            background-color: #394867;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        



        .btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn:hover {
            background-color: #45a049;
        }

        label {
            color: #F6ECA9;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"] {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #333;
            width: calc(100% - 18px);
            margin-bottom: 10px;
        }

        .auth-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .auth-buttons button {
            margin-left: 5px;
        }

        /* CSS styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            border: 1px solid #394867;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #394867;
        }

        tr:nth-child(even) {
            background-color: #394867;
        }
    </style>

</head>

<body>
    <header>
        <h1>Welcome Treasurer!</h1>
        <div class="auth-buttons">
            <button class="btn" id="loginBtn">Login</button>
            <button class="btn" id="registerBtn">Register</button>
        </div>
    </header>
    <div class="containerLeft">

        <h1 class="highlight">Income Statement</h1>
        <table>
            <thead>
                <tr>
                    <th>Income</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rent</td>
                    <td> <span style="color: red;">
                            $ <%= rent %>
                        </span></td>
                </tr>
                <tr>
                    <td>Coach Fees</td>
                    <td><span style="color: red;">
                            $ <%= coachFee %>
                    </td>
                </tr>
                <tr>
                    <td>Miscellaneous</td>
                    <td> <span style="color: red;">$ 200</span> </td>
                </tr>
                <tr>
                    <td>Revenue</td>
                    <td><span style="color: rgb(87, 225, 87);">
                            $ <%= accountRecievable %>
                    </td>
                </tr>

            </tbody>
        </table>
        <h2> Net Income: $ <%= netIncome - 200 %>
                </h1>
    </div>
    <div class="containerLeft">
        <h1 class="highlight">Monthly Revenue Statement</h1>
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Total Member Revenue</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < months.length; i++) { %>
                    <tr>
                        <td>
                            <%= months[i]%>
                        </td>
                        <td>$<%= monthRev[i]%>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <div class="containerLeft">
        <h1 class="highlight">Unpaid Debt & Advance Payments</h1>
        <h2 class="highlight">Unpaid Classes</h2>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Class Unpaid</th>
                    <th>Date of Unpaid Class</th>
                    <th>Money Owed</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < UnPaidDebt.length; i++) { %>
                    <tr>
                        <td>
                            <%= UnPaidDebt[i].Username%>
                        </td>
                        <td>
                            <%= UnPaidDebt[i].FirstName%> <%= UnPaidDebt[i].LastName%>
                        </td>
                        <td>
                            <%= UnPaidDebt[i].ClassName%> 
                        </td>
                        <td>
                            <%= UnPaidDebt[i].Date%>
                        </td>
                        <td> 
                            <span style="color: red;">
                            $ <%= UnPaidDebt[i].Expenses%>
                            </span>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <h2>Unpaid Coach Fees: $ 0</h2>
        <h2>Advance Payments</h2>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Class Paid</th>
                    <th>Date of Class</th>
                    <th>Payment Amount</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < paidAdvance.length; i++) { %>
                    <tr>
                        <td>
                            <%= paidAdvance[i].Username%>
                        </td>
                        <td>
                            <%= paidAdvance[i].FirstName%> <%= paidAdvance[i].LastName%>
                        </td>
                        <td>
                            <%= paidAdvance[i].ClassName%> 
                        </td>
                        <td>
                            <%= paidAdvance[i].Date%>
                        </td>
                        <td> 
                            <span style="color: green;">
                            $ <%= paidAdvance[i].Expenses%>
                            </span>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <div class="containerRight">
        <img src="https://cdn.discordapp.com/attachments/1214014972955463750/1227401363902828616/scuffed_background.png?ex=66284599&is=6615d099&hm=d9368342a131b03ee54642b35759451ec129f2ec61901799d10cc21d09ea0a09&"
            alt="Your Logo" class="logo-right">
        <div class="main-container">
            <h1 class="highlight">Coach Management</h1>

            <% for(var i=0; i < allCoaches.length; i++) { %>
                <div class="card">
                    <h2>Name: <%= allCoaches[i].firstName %>
                    </h2>
                    <button class="btn" onClick="remove('<%= allCoaches[i].userId %>')">Remove</button>
                </div>
                <% } %>
        </div>
    </div>
    <script>

        

        async function remove(id) {
            try {
                console.log(id)
                const response = await fetch('/removeCoach', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ userId: id }),
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                if (data.message === "Good") {
                    window.location.reload();
                }
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

       
            document.getElementById("loginBtn").addEventListener("click", function () {
                window.location.href = "/";
            });

            document.getElementById("registerBtn").addEventListener("click", function () {
                window.location.href = "/register";
            });
            

    </script>

</body>

</html>